@model SectionTitleBlock

<section id="aa-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-gallery-area">
                    <div class="aa-title">
                        <h2>@Html.PropertyFor(m => m.SectionTitle)</h2>
                        <span></span>
                        <p>@Html.PropertyFor(m => m.SectionDescription)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
