@model BlogSidebarPage
@inject HomeProperty.Services.BlogListing.IBlogListingService _blogListingService

<!-- Start Blog  -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-area">
                    <div class="row">
                        <!-- Start blog sidebar -->
                        <div class="col-md-4">
                            <aside class="aa-blog-sidebar">
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <form action="">
                                        <div class="aa-blog-search">
                                            <input class="aa-search-text" type="text" placeholder="Search...">
                                            <button class="aa-search-submit" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <h3>Categories</h3>
                                    <ul class="aa-blog-catg">
                                        <li>Properties <span>15000</span></li>
                                        <li>Apartment <span>5000</span></li>
                                        <li>Office  <span>3000</span></li>
                                        <li>Residential <span>4500</span></li>
                                        <li>
                                            Commercial <span>1000</span>
                                            <ul>
                                                <li>category 2.1 <span>50</span></li>
                                                <li>category 2.2 <span>100</span></li>
                                            </ul>
                                        </li>
                                        <li>Villa <span>800</span></li>
                                        <li>Bungalow  <span>200</span></li>
                                        <li>News <span>375</span></li>
                                        <li>Reviews <span>458</span></li>
                                    </ul>
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <h3>Tags</h3>
                                    <div class="tag-cloud">
                                        <a href="#">Apartment</a>
                                        <a href="#">Propery</a>
                                        <a href="#">Residential</a>
                                        <a href="#">Commercial</a>
                                        <a href="#">Office</a>
                                        <a href="#">Rent</a>
                                        <a href="#">Sale</a>
                                        <a href="#">Villa</a>
                                    </div>
                                </div>
                                <div class="aa-blog-sidebar-single">
                                    <!-- Start single sidebar -->
                                    @if (Model.BlogArchivePage != null)
                                    {
                                        // Fetch the latest blogs using the injected service
                                        var latestBlogs = _blogListingService.GetLatestBlogPages(Model.BlogArchivePage);

                                        if (latestBlogs.Count() > 0)
                                        {
                                            <h3>Recent Post</h3>

                                            foreach (var blogList in latestBlogs)
                                            {
                                                <div class="aa-blog-recent-post">
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img alt="img" src="@Url.ContentUrl(blogList.BlogPage.BlogSingleImage)" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="#">@blogList.BlogPage.BlogSingleTitle</a></h4>
                                                            @Html.PropertyFor(m => blogList.BlogPage.BlogSingleDescription)
                                                            <span>@blogList.BlogPage.BlogSingleDate.ToString("dd MMMM, yy")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                                                      
                                </div>
                                <!-- Start single sidebar -->
                                <div class="aa-blog-sidebar-single">
                                    <div class="aa-banner-ads">
                                        <a href="#">
                                            <img src="/img/banner-ads.jpg" alt="banner img">
                                        </a>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- / Blog  -->